@using Mnk.Models
@model IEnumerable<Mnk.Models.Services>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sitelayout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}
}

<!-- page title -->
<div class="about-bg centered">
    <div class="container">
        <div class="text">Our Services</div>
    </div>
</div>
<!-- end page title -->
<!-- bread-crumb -->
<div class="bread-crumb">
    <div class="container">
        <div class="text">
            <a href="index-2.html">Home</a><i class="fa fa-angle-right"></i> Our Services
            <div class="share"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</div>
        </div>
    </div>
</div>
<!-- bread crumb end -->
<!-- service-style-two -->
<section class="service-style-tow">
    <div class="container">
        <div class="row">
@foreach (var item in db.Servicess.ToList())
{
            <div class="col-md-4 col-sm-6 col-xs-12 service-colmun">
                <div class="service-content">
                    <div class="icon-box"><a href="~/Services/Details?id=@item.Service_Id"><i class="flaticon-graph"></i></a></div>
                    <h4>@item.Service_Name</h4>
                    <div class="text">
                        @foreach (var item2 in db.Services_details.Where(m => m.Service_Id == item.Service_Id))
                        {
                            <p>
                                @item2.Service_Detail_Name
                            </p>
                        }
                    </div>
                </div>
            </div>
}
        </div>
    </div>
</section>
<!-- service style two end -->