@model Mnk.Models.Board_Availbality

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Css {

    <link href="~/content/admin_content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/content/admin_content/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">

}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Add new Availbility</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Availbility</a></li>

            <li class="breadcrumb-item active">Add new Availbilty</li>
        </ol>
    </div>
    <div class="">
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
    </div>
</div>




<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    @using (Html.BeginForm("Create", "Board_Availbality", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form class="floating-labels m-t-40">
                            <div class="form-group m-t-40">
                                <label for="input1"> Availbility </label>
                                <input type="text" name="Availability_name" class="form-control" id="input1">
                                <span class="bar"></span>


                            </div>






                            @*<div class="form-group m-t-20">*@
                            <div class="form-group  m-t-40">
                                <label class="m-t-20"> Board Availbility To </label>
                                <input type="text" class="form-control" name="Availability_to" placeholder="" id="mdate">
                                <label class="m-t-40"> Board Availbility from </label>
                                <input type="text" class="form-control" name="Availability_from " placeholder="" id="mdate1">
                            </div>






                            <p style="margin-top:50px;"></p>



                            <button type="submit" name="Create" class="btn waves-effect waves-light btn-outline-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {

    <script src="~/content/admin_content/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/content/admin_content/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/content/admin_content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/content/admin_content/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/content/admin_content/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/content/admin_content/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/content/admin_content/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/content/admin_content/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/content/admin_content/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- Plugins for this page -->
    <!-- ============================================================== -->
    <!-- Plugin JavaScript -->
    <script src="~/content/admin_content/assets/plugins/moment/moment.js"></script>
    <script src="~/content/admin_content/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="~/content/admin_content/assets/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="~/content/admin_content/assets/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="~/content/admin_content/assets/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="~/content/admin_content/assets/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/content/admin_content/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="~/content/admin_content/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/content/admin_content/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>


    <script>

    $('#mdate').bootstrapMaterialDatePicker({ weekStart: 0, time: false });
    $('#timepicker').bootstrapMaterialDatePicker({ format: 'HH:mm', time: true, date: false });
    $('#date-format').bootstrapMaterialDatePicker({ format: 'dddd DD MMMM YYYY - HH:mm' });

    $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });
    // Clock pickers
    $('#mdate1').bootstrapMaterialDatePicker({ weekStart: 0, time: false });
    $('#timepicker').bootstrapMaterialDatePicker({ format: 'HH:mm', time: true, date: false });
    $('#date-format').bootstrapMaterialDatePicker({ format: 'dddd DD MMMM YYYY - HH:mm' });

    $('#min-date1').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });
    // Clock pickers

    </script>


    <script src="~/content/admin_content/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
}