@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Sitelayout.cshtml";
}


<!-- page title -->
<div class="about-bg centered">
    <div class="container">
        <div class="text">Contact Us</div>
    </div>
</div>
<!-- end page title -->
<!-- bread-crumb -->
<div class="bread-crumb">
    <div class="container">
        <div class="text">
            <a href="index-2.html">Home</a><i class="fa fa-angle-right"></i> Contact Us
            <div class="share"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</div>
        </div>
    </div>
</div>
<!-- bread crumb end -->
<!-- contact-info -->
<section class="contact-info contact-page centered">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 contact-colmun">
                <div class="single-item hvr-float-shadow">
                    <div class="icon-box"><i class="fa fa-map-marker"></i></div>
                    <div class="title">Lacation</div>
                    <div class="text"><p>PO Box 16122 Collins Street West<br /> Victoria 8007 Canada</p></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 contact-colmun">
                <div class="single-item hvr-float-shadow">
                    <div class="icon-box"><i class="fa fa-phone"></i></div>
                    <div class="title">Phone</div>
                    <div class="text"><p>(+48) 564-334-21-22-34<br /> (+48) 564-334-21-22-38</p></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 contact-colmun">
                <div class="single-item hvr-float-shadow">
                    <div class="icon-box"><i class="fa fa-envelope"></i></div>
                    <div class="title">Email</div>
                    <div class="text"><p><a href="#">info@templatepath.com</a><br /><a href="#">info@aventex.com</a></p></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact infe end -->
<!-- contact-section -->
<section class="contact-section contact-page">
    
    
@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    
    @Html.ValidationSummary()


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 contact-colmun">
                <div class="contact-form-area">
                    <span class="text-success">
                        @ViewBag.message  
                    </span>
                    <div class="title"><h2 class="text-primary">Get in Touch</h2></div>
                    <form class="default-form" action="~/Home/Contact" method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="Contact_Name" value="" placeholder="Name" required="">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" name="Contact_email" value="" placeholder="Email" required="">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="Contact_phone" value="" placeholder="Phone" required="">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="Contact_subject" value="" placeholder='Subject' required="">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea placeholder="Message" name="Contact_Message" required=""></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn-one style-one radi" >Send Message</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
}
</section>
<!-- contact section end -->



<!--End pagewrapper-->
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-angle-up"></span></div>


<!--jquery js -->


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRvBPo3-t31YFk588DpMYS6EqKf-oGBSI"></script>
<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/validation.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bxslider.js"></script>
<script type="text/javascript" src="js/SmoothScroll.js"></script>
<script type="text/javascript" src="js/jQuery.style.switcher.min.js"></script>
<script src="js/gmaps.js"></script>
<script src="js/map-helper.js"></script>
<script src="js/script.js"></script>

<!-- End of .page_wrapper -->
