USE [master]
GO
/****** Object:  Database [mnkdatabase]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE DATABASE [mnkdatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mnkdatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\mnkdatabase.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mnkdatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\mnkdatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mnkdatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mnkdatabase]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[MobileNo] [nvarchar](max) NULL,
	[UserType] [nvarchar](max) NULL,
	[User_Adress] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Board_Availbality]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Board_Availbality](
	[Availability_id] [int] IDENTITY(1,1) NOT NULL,
	[Availability_status] [bit] NOT NULL,
	[Availability_to] [datetime] NOT NULL,
	[Availability_from] [datetime] NOT NULL,
	[Board_id] [int] NOT NULL,
	[Board_Broard_Id] [int] NULL,
	[Availability_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Board_Availbality] PRIMARY KEY CLUSTERED 
(
	[Availability_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Board_booking]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Board_booking](
	[Board_booking_id] [int] IDENTITY(1,1) NOT NULL,
	[Booking_type] [nvarchar](max) NULL,
	[Booking_to] [datetime] NOT NULL,
	[Booking_from] [datetime] NOT NULL,
	[Broard_Id] [int] NOT NULL,
	[Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Board_booking] PRIMARY KEY CLUSTERED 
(
	[Board_booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Board_city]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Board_city](
	[Board_City_Id] [int] IDENTITY(1,1) NOT NULL,
	[Board_City_name] [nvarchar](max) NOT NULL,
	[Board_City_Status] [bit] NOT NULL,
	[Board_City_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Board_city] PRIMARY KEY CLUSTERED 
(
	[Board_City_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Board_image]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Board_image](
	[Board_image_id] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](max) NULL,
	[Board_id] [int] NOT NULL,
	[Board_Broard_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Board_image] PRIMARY KEY CLUSTERED 
(
	[Board_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Board_Location]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Board_Location](
	[Board_Location_Id] [int] IDENTITY(1,1) NOT NULL,
	[Board_location_Status] [bit] NOT NULL,
	[Board_location_Date] [datetime] NOT NULL,
	[Board_location_name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Board_Location] PRIMARY KEY CLUSTERED 
(
	[Board_Location_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Board_medium]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Board_medium](
	[Board_Medium_Id] [int] IDENTITY(1,1) NOT NULL,
	[Board_Medium_name] [nvarchar](max) NOT NULL,
	[Board_Medium_Status] [bit] NOT NULL,
	[Board_Medium_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Board_medium] PRIMARY KEY CLUSTERED 
(
	[Board_Medium_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Boards]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boards](
	[Broard_Id] [int] IDENTITY(1,1) NOT NULL,
	[Broard_Site_code] [nvarchar](max) NULL,
	[Broard_Traffic_from] [nvarchar](max) NULL,
	[Broard_Traffic_to] [nvarchar](max) NULL,
	[Broard_Width] [int] NOT NULL,
	[Broard_Height] [int] NOT NULL,
	[Board_date] [datetime] NOT NULL,
	[Board_Medium_Id] [int] NOT NULL,
	[Board_City_Id] [int] NOT NULL,
	[Board_Location_Id] [int] NOT NULL,
	[Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Boards] PRIMARY KEY CLUSTERED 
(
	[Broard_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[clients]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[Client_Id] [int] IDENTITY(1,1) NOT NULL,
	[Client_name] [nvarchar](max) NOT NULL,
	[Client_image] [nvarchar](max) NULL,
	[Client_status] [bit] NOT NULL,
	[Client_date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.clients] PRIMARY KEY CLUSTERED 
(
	[Client_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact_us]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact_us](
	[Contact_Id] [int] IDENTITY(1,1) NOT NULL,
	[Contact_Name] [nvarchar](max) NOT NULL,
	[Contact_email] [nvarchar](max) NOT NULL,
	[Contact_phone] [nvarchar](max) NOT NULL,
	[Contact_subject] [nvarchar](max) NULL,
	[Contact_Message] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Contact_us] PRIMARY KEY CLUSTERED 
(
	[Contact_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Galleries]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galleries](
	[Gallery_Id] [int] IDENTITY(1,1) NOT NULL,
	[Gallery_title] [nvarchar](max) NOT NULL,
	[Gallery_image] [nvarchar](max) NULL,
	[Gallery_status] [bit] NOT NULL,
	[Gallery_date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Galleries] PRIMARY KEY CLUSTERED 
(
	[Gallery_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[real_estate]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[real_estate](
	[real_id] [int] IDENTITY(1,1) NOT NULL,
	[real_name] [nvarchar](max) NULL,
	[real_discription] [nvarchar](max) NULL,
	[real_image] [nvarchar](max) NULL,
	[real_status] [bit] NOT NULL,
	[real_date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.real_estate] PRIMARY KEY CLUSTERED 
(
	[real_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[real_form]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[real_form](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[site_name] [nvarchar](max) NOT NULL,
	[area] [nvarchar](max) NOT NULL,
	[banner_size] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.real_form] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Services]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Service_Id] [int] IDENTITY(1,1) NOT NULL,
	[Service_Name] [nvarchar](max) NOT NULL,
	[Service_status] [bit] NOT NULL,
	[Service_date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Services] PRIMARY KEY CLUSTERED 
(
	[Service_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Services_details]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services_details](
	[Service_Detail_Id] [int] IDENTITY(1,1) NOT NULL,
	[Service_Detail_Name] [nvarchar](max) NOT NULL,
	[Service_Detail_Description] [nvarchar](max) NOT NULL,
	[Service_Detail_Image] [nvarchar](max) NULL,
	[service_Status] [bit] NOT NULL,
	[service_Date] [datetime] NOT NULL,
	[Service_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Services_details] PRIMARY KEY CLUSTERED 
(
	[Service_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sliders]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sliders](
	[Slider_Id] [int] IDENTITY(1,1) NOT NULL,
	[Slider_Title] [nvarchar](max) NOT NULL,
	[Slider_Image] [nvarchar](max) NULL,
	[Slider_Status] [bit] NOT NULL,
	[Slider_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.sliders] PRIMARY KEY CLUSTERED 
(
	[Slider_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teams]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Team_Member_Id] [int] IDENTITY(1,1) NOT NULL,
	[Team_member_Name] [nvarchar](max) NOT NULL,
	[Team_member_Designation] [nvarchar](max) NOT NULL,
	[Team_member_image] [nvarchar](max) NULL,
	[Team_member_status] [bit] NOT NULL,
	[Team_member_date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Teams] PRIMARY KEY CLUSTERED 
(
	[Team_Member_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[testo_nomia]    Script Date: 7/10/2018 1:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testo_nomia](
	[Testo_nomia_Id] [int] IDENTITY(1,1) NOT NULL,
	[Testo_nomia_name] [nvarchar](max) NOT NULL,
	[Testo_nomia_Massage] [nvarchar](max) NOT NULL,
	[Testo_nomia_image] [nvarchar](max) NULL,
	[testo_nomia_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.testo_nomia] PRIMARY KEY CLUSTERED 
(
	[Testo_nomia_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Client')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Vendor')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8808dd88-dc39-46e3-bf9d-1a0cb4060726', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'aed8ba6d-75c4-42c7-ad59-5523e7aed3c9', N'3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e2ce906c-3de6-4a75-8377-377150648c21', N'2')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [MobileNo], [UserType], [User_Adress], [Status]) VALUES (N'8808dd88-dc39-46e3-bf9d-1a0cb4060726', N'aswhab@gmail.com', 0, N'AKXEECKBAITu1zh6pUmUr5KFitf5RvZ/IgS42stDb8JMhN/9Q/CT1FP5Up9arZtHng==', N'be0d3fe2-e278-46dc-9dd9-022b89913486', NULL, 0, 0, NULL, 1, 0, N'aslam', N'03087246267', N'Admin', N'ahjgdgdeuiuegfiwefefwvv', 1)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [MobileNo], [UserType], [User_Adress], [Status]) VALUES (N'aed8ba6d-75c4-42c7-ad59-5523e7aed3c9', N'farrukh01@gmail.com', 0, N'AHhEUyAHfxEr3Z7jZl/EeRr21jHmpks31QETXcIQvePZ7ZFjS26U2kJLm6lyd+t4pA==', N'7d141a2b-b4e7-4fbd-b23a-bbc65b88c740', NULL, 0, 0, NULL, 1, 0, N'waleed', N'03087246233', N'Client', N'ahjgdgdeuiuegfiwefefwvv', 1)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [MobileNo], [UserType], [User_Adress], [Status]) VALUES (N'e2ce906c-3de6-4a75-8377-377150648c21', N'hanan12@gmail.com', 0, N'ALbtIGJuKOQXsSfChIZkpI1ON4NwS+bEhK3VGqBUfWayTvcDcwE1UET3+ADKFqLAqw==', N'1df0cbb0-47a5-4ad0-8c9c-12d16ad3d5cb', NULL, 0, 0, NULL, 1, 0, N'honey', N'03087246233', N'Vendor', N'ahjgdgdeuiuegfiwefef', 1)
SET IDENTITY_INSERT [dbo].[Board_Availbality] ON 

INSERT [dbo].[Board_Availbality] ([Availability_id], [Availability_status], [Availability_to], [Availability_from], [Board_id], [Board_Broard_Id], [Availability_Date]) VALUES (24, 1, CAST(0x0000A8F200000000 AS DateTime), CAST(0x0000A8FE00000000 AS DateTime), 7, NULL, CAST(0x0000000000000000 AS DateTime))
INSERT [dbo].[Board_Availbality] ([Availability_id], [Availability_status], [Availability_to], [Availability_from], [Board_id], [Board_Broard_Id], [Availability_Date]) VALUES (25, 0, CAST(0x0000A90C00000000 AS DateTime), CAST(0x0000A90F00000000 AS DateTime), 8, NULL, CAST(0x0000000000000000 AS DateTime))
INSERT [dbo].[Board_Availbality] ([Availability_id], [Availability_status], [Availability_to], [Availability_from], [Board_id], [Board_Broard_Id], [Availability_Date]) VALUES (28, 1, CAST(0x0000A91500000000 AS DateTime), CAST(0x0000A91C00000000 AS DateTime), 8, NULL, CAST(0x0000000000000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Board_Availbality] OFF
SET IDENTITY_INSERT [dbo].[Board_booking] ON 

INSERT [dbo].[Board_booking] ([Board_booking_id], [Booking_type], [Booking_to], [Booking_from], [Broard_Id], [Id]) VALUES (1, N'Book', CAST(0x0000A90400000000 AS DateTime), CAST(0x0000A90D00000000 AS DateTime), 8, N'e2ce906c-3de6-4a75-8377-377150648c21')
INSERT [dbo].[Board_booking] ([Board_booking_id], [Booking_type], [Booking_to], [Booking_from], [Broard_Id], [Id]) VALUES (3, N'Hold', CAST(0x0000A90400000000 AS DateTime), CAST(0x0000A90700000000 AS DateTime), 8, N'e2ce906c-3de6-4a75-8377-377150648c21')
INSERT [dbo].[Board_booking] ([Board_booking_id], [Booking_type], [Booking_to], [Booking_from], [Broard_Id], [Id]) VALUES (4, N'Hold', CAST(0x0000A90B00000000 AS DateTime), CAST(0x0000A90E00000000 AS DateTime), 7, N'e2ce906c-3de6-4a75-8377-377150648c21')
SET IDENTITY_INSERT [dbo].[Board_booking] OFF
SET IDENTITY_INSERT [dbo].[Board_city] ON 

INSERT [dbo].[Board_city] ([Board_City_Id], [Board_City_name], [Board_City_Status], [Board_City_Date]) VALUES (3, N'lahore', 0, CAST(0x0000A8E401893C67 AS DateTime))
INSERT [dbo].[Board_city] ([Board_City_Id], [Board_City_name], [Board_City_Status], [Board_City_Date]) VALUES (4, N'islamabad', 1, CAST(0x0000A90700962A3F AS DateTime))
SET IDENTITY_INSERT [dbo].[Board_city] OFF
SET IDENTITY_INSERT [dbo].[Board_image] ON 

INSERT [dbo].[Board_image] ([Board_image_id], [image], [Board_id], [Board_Broard_Id]) VALUES (10, N'~/Content/Images/download (1).jpg', 7, NULL)
INSERT [dbo].[Board_image] ([Board_image_id], [image], [Board_id], [Board_Broard_Id]) VALUES (11, N'~/Content/Images/download.jpg', 7, NULL)
INSERT [dbo].[Board_image] ([Board_image_id], [image], [Board_id], [Board_Broard_Id]) VALUES (20, N'~/Content/Images/cf1d6260a57f43c67df3c876f228855b--dj-hospitals.jpg', 8, NULL)
SET IDENTITY_INSERT [dbo].[Board_image] OFF
SET IDENTITY_INSERT [dbo].[Board_Location] ON 

INSERT [dbo].[Board_Location] ([Board_Location_Id], [Board_location_Status], [Board_location_Date], [Board_location_name]) VALUES (1, 1, CAST(0x0000A8E3000E5CF2 AS DateTime), N'lahore')
INSERT [dbo].[Board_Location] ([Board_Location_Id], [Board_location_Status], [Board_location_Date], [Board_location_name]) VALUES (2, 1, CAST(0x0000A8E3000E97D2 AS DateTime), N'lahore')
INSERT [dbo].[Board_Location] ([Board_Location_Id], [Board_location_Status], [Board_location_Date], [Board_location_name]) VALUES (3, 1, CAST(0x0000A8E40189746E AS DateTime), N'iqbal town')
SET IDENTITY_INSERT [dbo].[Board_Location] OFF
SET IDENTITY_INSERT [dbo].[Board_medium] ON 

INSERT [dbo].[Board_medium] ([Board_Medium_Id], [Board_Medium_name], [Board_Medium_Status], [Board_Medium_Date]) VALUES (4, N'rtertertrt', 1, CAST(0x0000A8E500178F0B AS DateTime))
INSERT [dbo].[Board_medium] ([Board_Medium_Id], [Board_Medium_name], [Board_Medium_Status], [Board_Medium_Date]) VALUES (5, N'Banner board', 1, CAST(0x0000A90700967CDD AS DateTime))
INSERT [dbo].[Board_medium] ([Board_Medium_Id], [Board_Medium_name], [Board_Medium_Status], [Board_Medium_Date]) VALUES (6, N'hardboardgfg', 0, CAST(0x0000A90700EEAACC AS DateTime))
SET IDENTITY_INSERT [dbo].[Board_medium] OFF
SET IDENTITY_INSERT [dbo].[Boards] ON 

INSERT [dbo].[Boards] ([Broard_Id], [Broard_Site_code], [Broard_Traffic_from], [Broard_Traffic_to], [Broard_Width], [Broard_Height], [Board_date], [Board_Medium_Id], [Board_City_Id], [Board_Location_Id], [Id]) VALUES (7, N'vhsdfkfefefe', N'efeefef', N'efefefdbjd', 120, 24, CAST(0x0000A90B00A76CB5 AS DateTime), 6, 3, 2, N'e2ce906c-3de6-4a75-8377-377150648c21')
INSERT [dbo].[Boards] ([Broard_Id], [Broard_Site_code], [Broard_Traffic_from], [Broard_Traffic_to], [Broard_Width], [Broard_Height], [Board_date], [Board_Medium_Id], [Board_City_Id], [Board_Location_Id], [Id]) VALUES (8, N'hdoewirw', N'wqyioewpqew', N'wbgiodqwdqw', 910, 128, CAST(0x0000A90B00AA8C9D AS DateTime), 6, 4, 2, N'e2ce906c-3de6-4a75-8377-377150648c21')
INSERT [dbo].[Boards] ([Broard_Id], [Broard_Site_code], [Broard_Traffic_from], [Broard_Traffic_to], [Broard_Width], [Broard_Height], [Board_date], [Board_Medium_Id], [Board_City_Id], [Board_Location_Id], [Id]) VALUES (9, N'huo ureftxv vdgs', N'efeefef', N'wbgiodqwdqw', 120, 24, CAST(0x0000A90E00D36717 AS DateTime), 6, 4, 3, N'e2ce906c-3de6-4a75-8377-377150648c21')
SET IDENTITY_INSERT [dbo].[Boards] OFF
SET IDENTITY_INSERT [dbo].[clients] ON 

INSERT [dbo].[clients] ([Client_Id], [Client_name], [Client_image], [Client_status], [Client_date]) VALUES (2, N'efefeffeefef', N'~/Content/Images/AdminLTE-Backend-Administration-Panel-Theme.jpg', 0, CAST(0x0000A8E5001F04D6 AS DateTime))
INSERT [dbo].[clients] ([Client_Id], [Client_name], [Client_image], [Client_status], [Client_date]) VALUES (3, N'jkhsogogo,lpytyqw', N'~/Content/Images/download.png', 1, CAST(0x0000A90700961196 AS DateTime))
SET IDENTITY_INSERT [dbo].[clients] OFF
SET IDENTITY_INSERT [dbo].[Galleries] ON 

INSERT [dbo].[Galleries] ([Gallery_Id], [Gallery_title], [Gallery_image], [Gallery_status], [Gallery_date]) VALUES (3, N'sdasffvf', N'~/Content/Images/admin-icon.png', 0, CAST(0x0000A8DD00CD674B AS DateTime))
INSERT [dbo].[Galleries] ([Gallery_Id], [Gallery_title], [Gallery_image], [Gallery_status], [Gallery_date]) VALUES (8, N'sufurgrr', N'~/Content/Images/Design-and-implementation-school-management-system25.png', 1, CAST(0x0000A8E300B4F345 AS DateTime))
INSERT [dbo].[Galleries] ([Gallery_Id], [Gallery_title], [Gallery_image], [Gallery_status], [Gallery_date]) VALUES (11, N'dfdggsettyighhdg', N'~/Content/Images/download (1).jpg', 1, CAST(0x0000A8F8014D8FA9 AS DateTime))
SET IDENTITY_INSERT [dbo].[Galleries] OFF
SET IDENTITY_INSERT [dbo].[real_estate] ON 

INSERT [dbo].[real_estate] ([real_id], [real_name], [real_discription], [real_image], [real_status], [real_date]) VALUES (4, N'Local buisness', N'MNK Advertising meets the needs of local businesses with 17 offices coast to coast. Each office is headquarters for a sales and operations team who take great pride in keeping our locations, and our advertisers'' campaigns, looking their best.', N'~/Content/Images/r1.jpg', 1, CAST(0x0000A91100CE8FEE AS DateTime))
INSERT [dbo].[real_estate] ([real_id], [real_name], [real_discription], [real_image], [real_status], [real_date]) VALUES (5, N'National Advertisers', N'tretetretrete', N'~/Content/Images/r2.jpg', 1, CAST(0x0000A91100CEE068 AS DateTime))
INSERT [dbo].[real_estate] ([real_id], [real_name], [real_discription], [real_image], [real_status], [real_date]) VALUES (6, N'Agencies & Buyers', N'Our portfolio includes a wide array of inventory spanning the most sought after locations in the top 25 markets and beyond. Browse our extensive coverage to see which markets suit your needs.', N'~/Content/Images/r3.jpg', 1, CAST(0x0000A91100CF0D32 AS DateTime))
SET IDENTITY_INSERT [dbo].[real_estate] OFF
SET IDENTITY_INSERT [dbo].[real_form] ON 

INSERT [dbo].[real_form] ([id], [site_name], [area], [banner_size], [status]) VALUES (1, N'hanan', N'lahore', N'32', 0)
INSERT [dbo].[real_form] ([id], [site_name], [area], [banner_size], [status]) VALUES (2, N'hanan', N'lahore', N'32', 0)
INSERT [dbo].[real_form] ([id], [site_name], [area], [banner_size], [status]) VALUES (3, N'hanan', N'lahore', N'32', 0)
SET IDENTITY_INSERT [dbo].[real_form] OFF
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Service_Id], [Service_Name], [Service_status], [Service_date]) VALUES (1, N'brand new', 0, CAST(0x0000A8D600CA1A0E AS DateTime))
INSERT [dbo].[Services] ([Service_Id], [Service_Name], [Service_status], [Service_date]) VALUES (2, N'Brand', 1, CAST(0x0000A8D901478DCE AS DateTime))
INSERT [dbo].[Services] ([Service_Id], [Service_Name], [Service_status], [Service_date]) VALUES (3, N'brand3', 1, CAST(0x0000A8DA00218D83 AS DateTime))
SET IDENTITY_INSERT [dbo].[Services] OFF
SET IDENTITY_INSERT [dbo].[Services_details] ON 

INSERT [dbo].[Services_details] ([Service_Detail_Id], [Service_Detail_Name], [Service_Detail_Description], [Service_Detail_Image], [service_Status], [service_Date], [Service_Id]) VALUES (5, N'fgdfdfhdfhdfhdfhdfhthyhtyhh', N'gggfgfg', N'~/Content/Images/27545742_911707575677430_8312626359653658321_n.jpg', 0, CAST(0x0000A8F700203097 AS DateTime), 1)
INSERT [dbo].[Services_details] ([Service_Detail_Id], [Service_Detail_Name], [Service_Detail_Description], [Service_Detail_Image], [service_Status], [service_Date], [Service_Id]) VALUES (6, N'bugugukwedwe', N'yigwvgdiqwd<b><i>fqwdqwvffdufd</i></b><i></i><br>gyfyfywkfqww', N'~/Content/Images/download (1).jpg', 1, CAST(0x0000A907009D4064 AS DateTime), 3)
INSERT [dbo].[Services_details] ([Service_Detail_Id], [Service_Detail_Name], [Service_Detail_Description], [Service_Detail_Image], [service_Status], [service_Date], [Service_Id]) VALUES (7, N'gdfgsfsfsbfsigskgasgcjgsdbsd', N'as casyg<b><i><u>casgagudwdxashcaudhbadoadad</u></i></b>', N'~/Content/Images/snapshot_1.png', 1, CAST(0x0000A90B00C75F40 AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Services_details] OFF
SET IDENTITY_INSERT [dbo].[sliders] ON 

INSERT [dbo].[sliders] ([Slider_Id], [Slider_Title], [Slider_Image], [Slider_Status], [Slider_Date]) VALUES (3, N'hdkkslfefwfffflfl', N'~/Content/Images/AdminLTE-Backend-Administration-Panel-Theme.jpg', 1, CAST(0x0000A8E4017D9938 AS DateTime))
INSERT [dbo].[sliders] ([Slider_Id], [Slider_Title], [Slider_Image], [Slider_Status], [Slider_Date]) VALUES (4, N'bjcadsaccc', N'~/Content/Images/Design-and-implementation-school-management-system25.png', 1, CAST(0x0000A8E300011366 AS DateTime))
INSERT [dbo].[sliders] ([Slider_Id], [Slider_Title], [Slider_Image], [Slider_Status], [Slider_Date]) VALUES (6, N'cvddgghghfhhvbb', N'~/Content/Images/snapshot_1.png', 0, CAST(0x0000A8E300008E4D AS DateTime))
SET IDENTITY_INSERT [dbo].[sliders] OFF
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([Team_Member_Id], [Team_member_Name], [Team_member_Designation], [Team_member_image], [Team_member_status], [Team_member_date]) VALUES (6, N'ftdrssali', N'eyyyyyyzzzz', N'~/Content/Images/download (1).jpg', 1, CAST(0x0000A90700D4EDCD AS DateTime))
INSERT [dbo].[Teams] ([Team_Member_Id], [Team_member_Name], [Team_member_Designation], [Team_member_image], [Team_member_status], [Team_member_date]) VALUES (8, N'hamid', N'board satter', N'~/Content/Images/erd.jpg', 0, CAST(0x0000A90700D4F6A8 AS DateTime))
SET IDENTITY_INSERT [dbo].[Teams] OFF
SET IDENTITY_INSERT [dbo].[testo_nomia] ON 

INSERT [dbo].[testo_nomia] ([Testo_nomia_Id], [Testo_nomia_name], [Testo_nomia_Massage], [Testo_nomia_image], [testo_nomia_Date]) VALUES (5, N'Eric Thomas', N' Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mquelaud  antiumes.', N'~/Content/Images/2.png', CAST(0x0000A91100B8E132 AS DateTime))
INSERT [dbo].[testo_nomia] ([Testo_nomia_Id], [Testo_nomia_name], [Testo_nomia_Massage], [Testo_nomia_image], [testo_nomia_Date]) VALUES (6, N'Lussi Marten', N' Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mquelaud  antiumes.', N'~/Content/Images/4.png', CAST(0x0000A91100B8FC7D AS DateTime))
INSERT [dbo].[testo_nomia] ([Testo_nomia_Id], [Testo_nomia_name], [Testo_nomia_Massage], [Testo_nomia_image], [testo_nomia_Date]) VALUES (7, N'jenefor Lemo ', N' Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mquelaud  antiumes.', N'~/Content/Images/3.png', CAST(0x0000A91100B91168 AS DateTime))
SET IDENTITY_INSERT [dbo].[testo_nomia] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Board_Broard_Id]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Board_Broard_Id] ON [dbo].[Board_Availbality]
(
	[Board_Broard_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Broard_Id]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Broard_Id] ON [dbo].[Board_booking]
(
	[Broard_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Board_booking]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Board_Broard_Id]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Board_Broard_Id] ON [dbo].[Board_image]
(
	[Board_Broard_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Board_City_Id]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Board_City_Id] ON [dbo].[Boards]
(
	[Board_City_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Board_Location_Id]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Board_Location_Id] ON [dbo].[Boards]
(
	[Board_Location_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Board_Medium_Id]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Board_Medium_Id] ON [dbo].[Boards]
(
	[Board_Medium_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Boards]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Service_Id]    Script Date: 7/10/2018 1:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Service_Id] ON [dbo].[Services_details]
(
	[Service_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Board_Availbality] ADD  DEFAULT ((0)) FOR [Availability_status]
GO
ALTER TABLE [dbo].[Board_Availbality] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Availability_to]
GO
ALTER TABLE [dbo].[Board_Availbality] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Availability_from]
GO
ALTER TABLE [dbo].[Board_Availbality] ADD  DEFAULT ((0)) FOR [Board_id]
GO
ALTER TABLE [dbo].[Board_Availbality] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Availability_Date]
GO
ALTER TABLE [dbo].[Board_image] ADD  DEFAULT ((0)) FOR [Board_id]
GO
ALTER TABLE [dbo].[Board_Location] ADD  DEFAULT ((0)) FOR [Board_location_Status]
GO
ALTER TABLE [dbo].[Board_Location] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Board_location_Date]
GO
ALTER TABLE [dbo].[Board_Location] ADD  DEFAULT ('') FOR [Board_location_name]
GO
ALTER TABLE [dbo].[Boards] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Board_date]
GO
ALTER TABLE [dbo].[Boards] ADD  DEFAULT ((0)) FOR [Board_Medium_Id]
GO
ALTER TABLE [dbo].[Boards] ADD  DEFAULT ((0)) FOR [Board_City_Id]
GO
ALTER TABLE [dbo].[Boards] ADD  DEFAULT ((0)) FOR [Board_Location_Id]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Board_Availbality]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Board_Availbality_dbo.Boards_Board_Broard_Id] FOREIGN KEY([Board_Broard_Id])
REFERENCES [dbo].[Boards] ([Broard_Id])
GO
ALTER TABLE [dbo].[Board_Availbality] CHECK CONSTRAINT [FK_dbo.Board_Availbality_dbo.Boards_Board_Broard_Id]
GO
ALTER TABLE [dbo].[Board_booking]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Board_booking_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Board_booking] CHECK CONSTRAINT [FK_dbo.Board_booking_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[Board_booking]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Board_booking_dbo.Boards_Broard_Id] FOREIGN KEY([Broard_Id])
REFERENCES [dbo].[Boards] ([Broard_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Board_booking] CHECK CONSTRAINT [FK_dbo.Board_booking_dbo.Boards_Broard_Id]
GO
ALTER TABLE [dbo].[Board_image]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Board_image_dbo.Boards_Board_Broard_Id] FOREIGN KEY([Board_Broard_Id])
REFERENCES [dbo].[Boards] ([Broard_Id])
GO
ALTER TABLE [dbo].[Board_image] CHECK CONSTRAINT [FK_dbo.Board_image_dbo.Boards_Board_Broard_Id]
GO
ALTER TABLE [dbo].[Boards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Boards_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Boards] CHECK CONSTRAINT [FK_dbo.Boards_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[Boards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Boards_dbo.Board_city_Board_City_Id] FOREIGN KEY([Board_City_Id])
REFERENCES [dbo].[Board_city] ([Board_City_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Boards] CHECK CONSTRAINT [FK_dbo.Boards_dbo.Board_city_Board_City_Id]
GO
ALTER TABLE [dbo].[Boards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Boards_dbo.Board_Location_Board_Location_Id] FOREIGN KEY([Board_Location_Id])
REFERENCES [dbo].[Board_Location] ([Board_Location_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Boards] CHECK CONSTRAINT [FK_dbo.Boards_dbo.Board_Location_Board_Location_Id]
GO
ALTER TABLE [dbo].[Boards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Boards_dbo.Board_medium_Board_Medium_Id] FOREIGN KEY([Board_Medium_Id])
REFERENCES [dbo].[Board_medium] ([Board_Medium_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Boards] CHECK CONSTRAINT [FK_dbo.Boards_dbo.Board_medium_Board_Medium_Id]
GO
ALTER TABLE [dbo].[Services_details]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Services_details_dbo.Services_Service_Id] FOREIGN KEY([Service_Id])
REFERENCES [dbo].[Services] ([Service_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Services_details] CHECK CONSTRAINT [FK_dbo.Services_details_dbo.Services_Service_Id]
GO
USE [master]
GO
